client
dev tun
proto {{ openvpn.proto }}
remote {{ openvpn.ip }} {{ openvpn.port }}
;remote-random
resolv-retry infinite
nobind
persist-key
persist-tun
ca /etc/openvpn/ca.crt
cert /etc/openvpn/{{ client }}.crt
key /etc/openvpn/{{ client }}.key
remote-cert-tls server
tls-auth ta.key 1
cipher AES-256-CBC
verb {{ openvpn.debug }}
mute 20
