port {{ openvpn.port }}
proto {{ openvpn.proto }}
dev tun
ca /etc/openvpn/ca.crt
cert /etc/openvpn/server.crt
key /etc/openvpn/server.key  # This file should be kept secret
dh /etc/openvpn/dh.pem
server {{ openvpn.tunnel.ip }} {{ openvpn.tunnel.netmask }}
ifconfig-pool-persist ipp.txt
push "route {{ openvpn.subnet.ip }} {{ openvpn.subnet.netmask }}"
route {{ openvpn.subnet.ip }} {{ openvpn.subnet.netmask }}
keepalive 10 120
tls-auth ta.key 0 # This file is secret
cipher AES-256-CBC
max-clients 100
user nobody
group nobody
persist-key
persist-tun
status openvpn-status.log
verb {{ openvpn.debug }}
mute 20
{% if openvpn.proto == 'tcp' %};{% endif  %} explicit-exit-notify 1 
client-config-dir ccd

